<div data-ng-controller="Sidebar as vm">
    <div class="sidebar">
        <div class="sidebar-filler"></div>
        <div class="sidebar-dropdown"><a href="#">Menu</a></div>
        <div class="sidebar-inner">
            <ul class="navi">
                <li class="nlightblue current">
                    <a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="nlightblue current">
                    <a href="#/flight"><i class="fa fa-dashboard"></i>Flight Search</a>
                </li>
                <li class="nlightblue current">
                    <a href="#/books"><i class="fa fa-dashboard"></i>Book Module</a>
                </li>
            </ul>
        </div>
    </div>
</div>