<section id="speaker-view" class="mainbar" data-ng-controller = "EditBook as b">
  <section class="matter">
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading" rk-widget-header-click> View/Edit Book</div>
        <rk-font-scale> </rk-font-scale>
        <div class="panel-body">
          <form name="editBook" style="height:100%" ng-submit="b.onSubmit(b.currentBook)">
            <div class="form-group">
              <label class="control-label">Book Title</label>
              <div>
                <input class="form-control"
                data-ng-model="b.currentBook.title"
                data-z-validate
                placeholder="Enter Book Title"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Author Name</label>
              <div>
                <input class="form-control"
                data-ng-model="b.currentBook.author"
                data-z-validate
                placeholder="Enter Author Name"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Last Update</label>
              <div>{{b.currentBook.lastupdated | date:'dd/MM/yyyy : hh.mm'}} </div>
            </div>
            
            <div class="panel-footer">
              <input type="submit" value="Save" />
              <input type="button" value="Cancel" ng-click="b.onCancel()"/>
            </div>
            </from>
            
          </div>
          <div ng-show="b.errorMsg">{{b.errorMsg}}</div>
        </div>
      </div>
    </section>
    <rk-modal open="modalOpen" options="{top:35, height:300}" on-close="b.modalClosed(resp)"> 
       <div class="panel panel-primary">
          <div class="panel-heading">Are You Sure ?</div>
           <div class="panel-body">
              <div class="btn btn-success" ng-click="b.closeModal('yes')">Yes</div>
              <div class="btn btn-success" ng-click="b.closeModal('no')">No</div>
           </div>
       </div>
    </rk-modal>
  </section>